body{
    margin: 0;
    background-color: #202020;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*{
    box-sizing: border-box;
}

.category-show{
    max-width: 1100px;
    color: aqua;
    font-size: small;
    margin: auto;
    padding: 5px;
    font-weight: bold;
}
.bookaf-logo{
    width: 60px;
    border-radius: 10px;
}
nav{
    position: sticky;
    top: 0;
    background-color: #202020;
}
nav > div{
    margin: auto;
    display: flex;
    max-width: 1100px;
    height: 85px;
    align-items: center;
}
.nav-items{
    color: gold;
    text-decoration: none;
    margin-left: 20px;
    font-size: larger;
    font-weight: bolder;
    background: none;
    border: none;
}
.nav-items:hover{
    color: aqua;
}
nav>hr{
    margin: 0;
}
.book-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: fit-content;
    margin: 5px;
    border: 1px solid white;
    background-color: #111111;
    width: 192px;
    border-radius: 20px;
}
.book-box:hover{
    background-color: #2b2b2b;
    
}
.temp-title{
    color: gray;
    font-size: small;
}
.book-name{
    margin-bottom: 10px;
}
.book-cover{
    margin-bottom: 5px;
}
.books-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin: auto;
    margin-top: 10px;
    max-width: 1100px;
}
.buy-btn{
    text-decoration: none;
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: gold;
    background-color: #202020;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.buy-btn:hover{
    background-color: black;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.hide{
  display: none;
}

.dropdown-content {
  position: absolute;
  background-color: #202020;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(131, 131, 131, 0.2);
  z-index: 1;
}

.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* .dropdown-content span:hover {background-color: rgb(0, 0, 0);} */

/* .dropdown:hover .dropdown-content {display: block;} */

@media only screen and (max-width: 600px) {
    .books-container{
        grid-template-columns: repeat(2, calc(98vw / 2));
        column-gap: 5px;
    }
    .book-box{
        width: calc(95vw / 2);
    }
    .book-cover{
        width: 100%;
    }
    .nav-items{
        margin-left: 5px;
        font-size: 20px;
    }
    .bookaf-logo{
        width: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    nav > div{
        height: 60px;
    }
    .hide{
        display: none;
    }
}